# GitHub
.github/ export-ignore
.gitignore export-ignore
.gitattributes export-ignore

# Composer
composer.json export-ignore
composer.lock export-ignore

# Tests
/tests/ export-ignore
phpunit.xml export-ignore

# Misc.
.phpstorm.meta.php export-ignore
