@import 'common/badges';

#edd-sl-releases-list {
    margin: 1rem 0;

    .edd-sl-releases--release {
        background: #f9f9f9;
        border: 1px solid #e5e5e5;
        border-top-width: 0;
        padding: 1rem;

        &:first-child {
            border-top-width: 1px;
        }

        h4 {
            margin: 0;
        }

        &--date {
            color: #646970;
            font: {
                size: 12px;
                weight: normal;
            }
        }

        &--header {
            @media (min-width: 768px) {
                align-items: center;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
