.edd-sl-releases-badge {
    border-radius: 6px;
    display: inline-block;
    font: {
        size: 13px;
        weight: normal;
    }
    line-height: 1.5em;
    margin: 0 .25rem;
    padding: 0.15rem 0.5rem;

    &--pre-release {
        background: #f9f3e5;
        color: #7d4c01;
    }
    &--stable {
        background: #e5f5f0;
        color: #017d5c;
    }
}
